* {
	overflow: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.spill{
	overflow: visible;
}

input{
	border: none;
	/*border-bottom: 1px solid black;*/
}

.text{
	margin-top: 0;
	margin-bottom: 0;
}

#title{
	margin: 0 auto;
	font-size: 125%;
	max-width: 70%;
}

.container{
	position: relative;
}

#gameBox{
	margin-top: 1%;
	margin-left: auto;
	margin-right: auto;
/*	margin-left: 15%;
	margin-right: 15%;
*/	/*height: 400px;*/
	max-height: 50%;
	width: 80%;
}

#gameBox:hover{
	cursor: default;
}

.unselectable {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none; 
 }

.border{
	border: 1px solid black;
	border-radius: 5px;
	padding: 3px;
}

.my-button{
	border: 1px solid #DCDCDC;
	border-radius: 5px;
	padding: 3px 3px 5px 5px;
	display: inline-block;
}
.my-button:hover{
	background:  #e5e6eb;
}
.my-button:active{
	background: #d2d4dc;
}
.my-button:disabled{
	background: #898989;
}

#logBox{
	margin: 0 auto;
	max-width: 75%;
	max-height: 90%;
	height: 350px;
	/*height: 80%;*/
}

#kingBox{
	margin: 0 auto;
	max-width: 75%;
	height: 300px;
}

#mainInDiv{
	position: static;
	max-width: 70%;
	margin: 0 auto;
	/*margin-bottom: 5%;*/
	margin-top: 1%;
}

#stat-box{
	position: static;
	margin-top: 1%;
	margin-left: 15%;
	float: left;
	/*text-align: center;*/
	/*margin-bottom: 5%;*/
	margin-bottom: 3%;
}

#inf-box{
	position: static;
	max-width: 30%;
	float: left;
	margin-top: 1%;
	margin-left: 2%;
	/*text-align: center;*/
	/*margin-bottom: 5%;*/
	margin-bottom: 3%;
}

#debug{
	position: static;;
	float: left;
	width:20%;
}

/*button{
		position: static;
	margin-top: 2px;
	margin-left: auto;
	margin-right: auto;

	padding-top: 4px;
	padding-bottom: 4px;
}*/

.glow{
-moz-box-shadow: 0px 0px 10px Green;
-webkit-box-shadow: 0px 0px 10px Green;
box-shadow: 0px 0px 10px Green;
}
