html { 
  /*background: url(../images/header-bg.jpg) no-repeat center center fixed; */
  /*background: rgb(0,150,225);*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.center{
	top: 50%;
	left: 50%;
}

/*color scheme: wooden brown, various cerulean blues, white*/

body {
  font-size: 16px;
  font-family: "Raleway";
  background-color: rgb(245,245,230);
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

h1{
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: .67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 10px;
}

#palettes{
  margin-top: 2em;
  padding-bottom: 10px;
}

.smSquare{
  width: 70px;
  height: 70px;
}

.fl{
  float: left;
}

.pal1{
  background: rgb(190,95,70);
  position: relative;

}
.pal2{
  background: rgb(0,255,170);
  position: relative;
  left: 15px;
}
.pal3{
  background: rgb(0,245,230);
  position: relative;
  left: 30px;
}
.pal4{
  background: rgb(245,245,230);
  position: relative;
  left: 45px;
}

#about{
  font-size: 20px;
	width: 60%;
  margin: auto;
  margin-top: 8em;
  padding: 20px;
  width: 150px;
  height: 30px;
  font-weight: bold;
  border: 3px solid;
  border-radius: 7px;
  text-align: center;
  background-color:rgb(0,225,231);
  border-color: rgb(245,245,230);
}


#lineForm{
	border:0;
	border-bottom: 3px solid;
	outline-width: 0;
	font-size: 16px;
	text-align: center;
	font-family: "Raleway";
}